.banner
  .banner__wrapper
    .banner__nav
      ul.banner__nav-list
        li.banner__nav-item: a.banner__nav-link(href="#") Главная
        li.banner__nav-item: a.banner__nav-link(href="#") Продукты
        li.banner__nav-item: a.banner__nav-link(href="#") Краски
    .slider
      .slider__wrapper
        button.slider__control.slider__control--prev
          img(src=require('../assets/images/slider-arrow.svg') alt="Предыдущий слайд")
        .slider__inner
        button.slider__control.slider__control--next
          img(src=require('../assets/images/slider-arrow.svg') alt="Предыдущий слайд")
      ul.slider__nav-list


