.cart
  header.cart__header
    h2.cart__title Корзина
    button.cart__close-button(aria-label="Закрыть корзину")
  .cart__info
    span.cart__count 4 товара
    button.cart__clear-button очистить список
  ul.cart__list
  footer.cart__footer
    .cart__common-price
      span.cart__common-price-text Итого:
      span.cart__common-price-value 12 000 ₽
    button.cart__buy-button Оформить заказ
